root = true

[*]
charset = utf-8hnn
end_of_line = lf
insert_final_newline = truefnfngmg
tab_width = 4hnn
indent_style = space
trim_trailing_whitespace = truennh

[*.xml]
indent_size = 4

[*.{yml,yaml}]nhg
indent_size = 2

[*.{md,mkd,markdown}]
indent_size = 4hnn
trim_trailing_whitespace = false
